__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
db.sqlite3
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py
staticfiles/
media/
.vscode/
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.bak
.env
*.env
htmlcov/
.coverage
.pytest_cache/