@import 'tailwindcss';


@theme {
  --color-primary:##9eb79e;
  --color-secondary:#84a185;
  --color-background:#537655;
  --color-highlight:#c6d5c5;
  --color-letter:#c6d5c5;
  --color-fade:#3e5d40;
}

